body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movieCatalog {
  display: flex;
}

.movieCard {
  margin: 20px;
}

.movieCard__img img{
  height: 200px;
  width: 140px;
  object-fit: cover;

}